# Bundled Advanced Custom Fields.
src/src/acf

# No builds.
*.zip

# Developer Artifacts.
/build
/node_modules
package-lock.json
/src/vendor
/vendor
composer.lock
.php_cs.cache
.php-cs-fixer.cache

# File that we want to keep around temporarily.
*.ignoreme
.phpdoc
docs
