# No builds.
*.zip
/admin/js/*.min.js
/assets/css/*.min.css
/assets/js/*.min.js

# Files and folders related to build and test tools.
*.map
.env
.php_cs.cache
.php-cs-fixer.cache
.phpdoc/*
!.phpdoc/template/
/docs
.phpunit.result.cache
/phpunit.xml
/vendor/*
/node_modules/*
.cache/*
/tests/phpunit/cache
/tests/phpunit/coverage
/tests/e2e/artifacts
/tests/reports
/tests/reports/playwright-html
/test-results
.DS_Store

# File that we want to keep around temporarily.
*.ignoreme

# Track placeholders so that empty directories stay in the repo.
!.gitkeep
