@use '../common/variables' as *;

.action-list ul {
  list-style: none !important;
  margin: 0;
  padding: 0;
}

.action-list li {
  height: auto;
  margin: 0;
}

.action-list a.button {
  display: block;
  margin-bottom: calc(0.5 * var(--pdl-spacing));
  text-align: center;
}

.pdl-sticky {
  position: sticky;
  top: -1px;
}

.pdl-template .back-to-top {
  text-decoration: underline;

  &::before {
    content: '\25B2';
    display: inline-block;
    margin: 0 0.5em 0 0;
    transform: scale(1.5, 1);
  }
}

.pdl-expandable {
  summary {
    cursor: pointer;
    font-weight: bold;
    width: fit-content;

    &::marker,
    &::-webkit-details-marker {
      color: var(--pdl-active-color);
      font-size: 0.95em;
    }
  }

  &[open] .pdl-expandable__contents {
    animation: pdl-fade-in-left 0.25s ease-in-out;
    margin-bottom: var(--pdl-spacing);
  }
}

.pdl-toggle__trigger {
  --focus-outline: dotted 2px currentColor;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  padding: 0 0 0 1em !important;
  position: relative;

  &:hover {
    background: none;
    color: var(--pdl-active-color);
    text-decoration: underline;
  }

  &:focus {
    background: none;
    color: inherit;
    outline: var(--focus-outline);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: var(--focus-outline);
  }

  &::after {
    color: var(--pdl-active-color);
    content: '\25B2';
    display: inline-block;
    font-size: 0.9em;
    left: 0;
    position: absolute;
    top: 2px;
    transform: rotate(90deg) scaleX(1.4);
    transition: all 0.25s;
  }

  &[aria-expanded='false'] {
    &::before {
      content: attr(data-show-label);
    }
  }

  &[aria-expanded='true'] {
    &::before {
      content: attr(data-hide-label);
    }

    &::after {
      transform: rotate(180deg) scaleX(1.4);
      transition: all 0.35s;
    }
  }
}

.pdl-toggle__content {
  overflow: hidden;
  transition: height 0.25s;

  &:not([hidden]) {
    transition: height 0.25s;
  }
}

.archive .pdl-post-filters {
  background: rgb(0 0 0 / 0.1) !important;
  clear: both;
  gap: var(--pdl-spacing-half);
  line-height: 1.25;
  margin: 0 0 var(--pdl-spacing);
  padding: var(--pdl-spacing-half) var(--pdl-spacing) var(--pdl-spacing);
  position: relative;

  @media (min-width: $screen-md-min) {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }
}

.archive .pdl-post-filters fieldset {
  border: none;
  flex-grow: 1;
  font-size: 0.85em;
  padding: 0;

  @media (min-width: $screen-md-min) {
    align-items: flex-start;
    display: inline;
  }
}

.archive .pdl-post-filters .filters,
.archive .pdl-post-filters .more-filters__content,
.archive .pdl-post-filters .actions {

  @media (min-width: $screen-md-min) {
    align-items: center;
    display: flex;
  }
}

.archive .pdl-post-filters .filters {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--pdl-spacing-half);

  @media (max-width: $screen-sm-max) {
    width: 100%;
  }

  @media (min-width: $screen-md-min) {
    align-items: center;
    flex-flow: row nowrap;
  }
}

.pdl-post-filters .pdl-filters-field {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 0.5em;

  @media (max-width: $screen-sm-max) {
    width: 100%;
  }

  &__label {
    color: #555;
    margin-bottom: 0.25em;
  }

  input[type='text'],
  input[type='search'],
  select {
    height: auto;
    max-width: 100%;
    min-height: unset;
    width: 100%;
  }
}

.pdl-filters-field {

  @media (min-width: $screen-md-min) {

    @for $i from 1 to 6 {
      .pdl-post-filters-#{$i} & {
        max-width: calc(100% / $i + 5%);
      }
    }
  }
}

.pdl-post-filters .pdl-filter-keyword {
  min-width: 25%;
}

.archive .pdl-post-filters .more-filters {
  gap: var(--pdl-spacing);
  width: 100%;
}

.pdl-post-filters .more-filters__content {
  display: flex;
  gap: var(--pdl-spacing);

  @media (max-width: $screen-sm-max) {
    flex-direction: column;
  }
}

.archive .pdl-post-filters .actions {
  align-items: center;
  display: flex;
  font-size: 0.85em;
  gap: var(--pdl-spacing);
  padding-top: var(--pdl-spacing);

  @media (min-width: $screen-md-min) {
    padding-top: 1.5em;
  }
}

.archive .pdl-post-filters .search-button {
  border: solid 1px var(--pdl-active-color);
  height: auto;
  line-height: 1.25;
  min-height: unset;
  padding: 0.3em 0.75em;
  white-space: nowrap;

  &:hover {
    background: #333;
    border-color: #333;
  }

  &:active {
    background: #111;
    border-color: #111;
  }

  .pdl-icon.loading {
    display: none;
  }

  &[disabled] {
    background: #666;
    border-color: #666;
    color: #ccc;

    .pdl-icon.loading {
      animation: 1.5s infinite linear pdl-rotate;
      display: inline-block;
    }

    .pdl-icon.normal {
      display: none;
    }
  }
}

.archive .pdl-post-filters .reset-link {
  display: inline-block;
  white-space: nowrap;

  &--inactive {
    color: #777;
    cursor: default;
  }
}

.pdl-meta-group {
  display: grid;
  gap: var(--pdl-spacing) var(--pdl-spacing-2x);
  grid-template-columns: repeat(auto-fit, minmax(120px, max-content));
  justify-content: space-around;
}

.pdl-meta-group__item {
  display: inline-block;
  font-size: 0.9em;

  .label {
    display: block;
  }

  .value {
    font-weight: bold;
  }
}

.pdl-template .toggletip {
  --size: 22px;
  display: inline-block;
  margin-left: 2px;
  position: relative;
}

.pdl-template .toggletip__toggle {
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  border: solid 2px;
  border-radius: 50%;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: normal;
  height: var(--size);
  justify-content: center;
  padding: 0;
  width: var(--size);

  &:focus,
  &:active {
    box-shadow: 0 0 0 4px var(--pdl-active-color);
  }
}

.pdl-template .toggletip__tip {
  --background: rgba(0, 0, 0, 0.9);
  background-color: var(--background);
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
  left: calc(1.5 * var(--size));
  line-height: 1.2;
  padding: 10px;
  position: absolute;
  text-align: left;
  top: 0;
  transform: translateY(calc(-50% + 0.5 * var(--size)));
  transition: all 0.25s;
  width: 200px;
  z-index: 1000;

  &::before {
    border: 10px solid var(--background);
    border-color: transparent var(--background) transparent transparent;
    content: '';
    left: -20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.25s;
    z-index: 1000;
  }
}
