body.wp-admin #adminmenu li[id^="menu-posts-pdl_"] > a {
  .wp-menu-image::before {
    background-color: currentColor;
    box-sizing: border-box;
    content: '';
    height: 100%;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 22px 22px;
    width: 100%;
  }

  &.wp-menu-open,
  &:hover {
    .wp-menu-image::before {
      background-color: currentColor;
    }
  }
}

body.wp-admin .menu-icon-pdl_program .wp-menu-image::before {
  mask-image: url(../icons/pedal-icon.svg);
}

body.wp-admin .menu-icon-pdl_course .wp-menu-image::before {
  mask-image: url(../icons/course.svg);
}

body.wp-admin .menu-icon-pdl_person .wp-menu-image::before {
  mask-image: url(../icons/person.svg);
}

body.wp-admin .menu-icon-pdl_faq .wp-menu-image::before {
  mask-image: url(../icons/faq.svg);
}
