body {
	--pdl-components-color-accent: #2271b1;
	--pdl-components-color-accent-dark: color(
    from var(--pdl-components-color-accent) display-p3 calc(r - 0.2) calc(g - 0.2) calc(b - 0.2)
  );

	&.admin-color-midnight {
		--pdl-components-color-accent: #e14d43;
	}

	&.admin-color-sunrise {
		--pdl-components-color-accent: #dd823b;
	}

	&.admin-color-coffee {
		--pdl-components-color-accent: #c7a589;
	}

	&.admin-color-ectoplasm {
		--pdl-components-color-accent: #a3b745;
	}

	&.admin-color-ocean {
		--pdl-components-color-accent: #9ebaa0;
	}

	&.admin-color-blue {
		--pdl-components-color-accent: #e1a948;
	}

	&.admin-color-modern {
		--pdl-components-color-accent: #3858e9;
	}

	&.admin-color-light {
		--pdl-components-color-accent: #04a4cc;
	}
}

/* Safari 16.4+ requires r g b values to be specified as percentages
 * (with units) in calculations.
 */
@supports (color: color(from yellow display-p3 r g calc(b + 30%))) {
	body {
		--pdl-components-color-accent-dark: color(
			from var(--pdl-components-color-accent) display-p3 calc(r - 20%) calc(g - 20%) calc(b - 20%)
		);
	}
}


body.wp-admin #adminmenu li[id^="menu-posts-pdl_"] > a {
  .wp-menu-image::before {
    background-color: currentColor;
    box-sizing: border-box;
    content: '';
    height: 100%;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 22px 22px;
    width: 100%;
  }

  &.wp-menu-open,
  &:hover {
    .wp-menu-image::before {
      background-color: currentColor;
    }
  }
}

body.wp-admin .menu-icon-pdl_program .wp-menu-image::before {
  mask-image: url(../icons/pedal-icon.svg);
}

body.wp-admin .menu-icon-pdl_course .wp-menu-image::before {
  mask-image: url(../icons/course.svg);
}

body.wp-admin .menu-icon-pdl_person .wp-menu-image::before {
  mask-image: url(../icons/person.svg);
}

body.wp-admin .menu-icon-pdl_faq .wp-menu-image::before {
  mask-image: url(../icons/faq.svg);
}
